<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guia Perguntas</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
</head>

<body>
    <!-- Navbar -->
    <%- include('partials/navbar') %>
        <!-- Conteúdo Principal -->
        <div class="container">
            <!-- Descrição do Fórum -->
            <p class="forum-description">
                ConquisTi Forum é uma plataforma dedicada a perguntas e respostas, onde os usuários podem compartilhar
                conhecimento, tirar dúvidas e participar de discussões sobre diversos temas. Nosso objetivo é criar um
                ambiente colaborativo e enriquecedor para todos os membros.
            </p>

            <!-- Botão Perguntar -->
            <div class="form-container">
                <a href="/perguntar" class="btn">Perguntar</a>
            </div>

            <!-- Lista de Perguntas -->
            <div class="questions-container">
                <% perguntas.forEach(function(pergunta) { %>
                    <div class="card">
                        <h2>
                            <%= pergunta.titulo %>
                        </h2>
                        <br>
                        <p>
                            <%= pergunta.descricao %>
                        </p>
                        <br>
                        <a href="/pergunta/<%= pergunta.id %>" class="btn">Ver Respostas</a>
                    </div>
                    <% }); %>
            </div>
        </div>

        <!-- Rodapé -->
        <%- include('partials/footer') %>
</body>

</html>