<%- include('partials/header.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <div class="container">
                <hr class="section-divider">
                <h1>
                    <%= pergunta.titulo %>
                </h1>
                <p>
                    <%= pergunta.descricao %>
                </p>

                <hr class="section-divider">

                <!-- Formulário para responder -->
                <form method="POST" action="/responder">
                    <textarea placeholder="Digite sua resposta" class="form-control answer-box" name="corpo"></textarea>
                    <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
                    <button type="submit" class="btn btn-primary">Responder</button>
                </form>

                <hr class="section-divider">

                <h3>Respostas</h3>
                <br>
                <% respostas.forEach(resposta=> { %>
                    <div class="card">
                        <div class="card-body">
                            <p>
                                <%= resposta.corpo %>
                            </p>
                            <br>
                        </div>
                    </div>
                    <% }) %>

            </div>
            <br>
    </body>

    <%- include('partials/footer.ejs') %>